:root {
    --bacground-color: #1983ca;
    --font-size: 24px;
    --color: #12e62e;
    --a-color: #c4a113;
    --special-text-color: #ffbb00;
}

body {
    background-color: var(--bacground-color);
    text-align: center;
}

header {
    height: 30px;
}

ul {
    list-style: none;
}

a {
    color: var(--a-color);
    font-size: 2.2rem;
    text-decoration: none;
}

#getResponse {
    font-size: 2em;
    color: var(--color);
    background-color: var(--bacground-color);
}

#getInterseptor_1,
#getInterseptor_2 {
    color: var(--special-text-color);
}

.test {
    color: var(--special-text-color);
}

header {
    position: fixed;
    text-align: end;
    height: 10vh;
    width: 100vw;
}